@using TreeCoinUI.Models
@model Cuzdanim


@{
    ViewBag.Title = "Cuzdanim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card mx-auto">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="m-0">Cüzdanım</h3>
                </div>
                <div class="col">
                    <div class="row align-items-center">
                        <i class="fas fa-wallet fa-2x mr-3"></i>
                        <div class="d-flex flex-column">
                            <span><small>Bakiye</small></span>
                            <span class="text-wallet text-success">@Model.Bakiye₺</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-title">
                <h4 class="mb-4">Para Yükle</h4>
            </div>

            @using (Html.BeginForm("LoadMoney", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <input type="hidden" value="@ViewBag.CustomerId" name="Id" />

                <div class="form-horizontal p-4">

                    <div class="card-text">
                        <div class="form-row m-0 align-items-center justify-content-center">
                            <h4>
                                @using (Html.BeginForm())
                                {
                                    <input type="hidden" value="@ViewBag.CustomerId" name="Id" />
                                    <input name="submit" type="submit" class="btn btn-danger btn-sm mr-2 font-weight-bold" value="50 TL">
                                    <input name="submit" type="submit" class="btn btn-danger btn-sm mr-2 font-weight-bold" value="100 TL">
                                    <input name="submit" type="submit" class="btn btn-danger btn-sm mr-2 font-weight-bold" value="200 TL">
                                }

                            </h4>
                            <span class="ml-1 mr-3 align-middle">veya</span>
                            <input class="form-control mb-0 col-md-5"
                                   type="text"
                                   name="Quantity"
                                   placeholder="Bir tutar giriniz" />
                            <select required class="form-control col-md-2 mb-0 ml-2" name="rateCode">
                                <option value="" disabled selected>Para birimini seçiniz</option>
                                <option value="1">Türk Lirası</option>
                                <option value="2">Dolar</option>
                                <option value="3">Euro</option>
                                <option value="4">Sterlin</option>
                            </select>
                            <div class="mx-auto">
                                <button type="submit" class="btn btn-success">Bakiye Yükle</button>
                            </div>
                        </div>
                    </div>

                </div>
            }

            <div class="d-flex justify-content-end mt-5">
                <div class="d-flex align-items-end">
                    @Html.ActionLink("Pdf Olarak İndir", "AlimRaporunuAl", null, new { @class = "btn btn-secondary" })
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header bg-primary text-white">İşlem Geçmişi</div>
                <div class="card-body p-0 m-0">
                    <div class="table-responsive-md">
                        <table class="table table-striped table-info m-0">
                            <thead>
                                <tr>
                                    <td>Tutar</td>
                                    <td>İşlem</td>
                                    <td>Tarih</td>
                                    <td>Durum</td>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.FinanceHistory)
                                {
                                    <tr>

                                        @if (item.FinanceTypeId == 4)
                                        {
                                            <td> - @item.Money @item.MoneyType.Code </td>
                                        }
                                        else if (item.FinanceTypeId == 1)
                                        {
                                            <td> +@item.Money @item.MoneyType.Code</td>
                                        }

                                        else
                                        {
                                            <td> @item.Money @item.MoneyType.Code</td>
                                        }

                                        @if (item.FinanceTypeId == 4)
                                        {
                                            <td> Alışveriş </td>
                                        }
                                        else
                                        {
                                            <td> Bakiye Yükleme </td>
                                        }


                                        <td>@item.Date</td>


                                        @if (item.FinanceTypeId == 1)
                                        {
                                            <td> Onaylandı </td>
                                        }
                                        else if (item.FinanceTypeId == 2)
                                        {
                                            <td> İnceleniyor </td>
                                        }
                                        else if (item.FinanceTypeId == 3)
                                        {
                                            <td> Para Onayı Başarısız </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-header bg-primary text-white">Bekleyen Limitli İşlemler</div>
                <div class="card-body p-0 m-0">
                    <div class="table-responsive-md">
                        <table class="table table-striped table-info m-0">

                            @if (Model.limitBuys.Count == 0)
                            {
                                <td>Bekleyen limitli işlem yok</td>
                              }
                            else
                            {
                                <thead>
                                    <tr>
                                        <td>İstenilen Miktar</td>
                                        <td>Ürün Adı</td>
                                        <td>İstenen Fiyat</td>
                                        <td>Tarih</td>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.limitBuys)
                                    {
                                        <tr>
                                            <td>@item.Quantity</td>
                                            <td>@item.Product.Name</td>
                                            <td>@item.Price</td>
                                            <td>@item.Date</td>
                                        </tr>
                                    }

                                </tbody>
                            }


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>