@model IEnumerable<TreeCoinUI.Models.SalesHistory>

@{
    ViewBag.Title = "SatisGecmisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container p-3">
    <div class="d-flex justify-content-between">
        <h1>Satışlarım</h1>
        <div class="d-flex align-items-end">
            @Html.ActionLink("Pdf Olarak İndir", "SatisRaporunuAl", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-header bg-primary text-white">
            <span>
                İşlem Geçmişi
            </span>


        </div>
        <div class="card-body p-0 m-0">
            <div class="table-responsive-md">
                <table class="table table-striped table-info m-0">
                    <thead>
                        <tr>
                            <td>Satılan Miktar</td>
                            <td>Tutar</td>
                            <td>Ürün Adı</td>
                            <td>Tarih</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.QuantityValue</td>
                                <td>@item.Price</td>
                                <td>@item.ProductName</td>
                                <td>@item.Date</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


